.contact {
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 150px;
}

.contact-content {
    width: 70%;
    margin: 0 auto;
}

.contact-content .msg {
    background-color: #12283d;
    color: white;
    padding: 50px;
    text-align: center;
    margin-top: 20px;
}

.msg a {
    text-decoration: none;
}

.msg a:hover {
    text-decoration: underline;
}

.rectangle {
    background-color: #12283d;
    height: 30px;
    width: 70px;
    font-size: 6em;
}

.align {
    display: flex;
    gap: 15px;
    align-items: center;
}

@media screen and (max-width: 500px) {

    .contact-content {
        width: 80%;
    }
}