.contact {
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 150px;
}

.contact-form {
    width: 70%;
    margin: 0 auto;
}

.rectangle {
    background-color: #12283d;
    height: 30px;
    width: 70px;
    font-size: 6em;
}

.align {
    display: flex;
    gap: 15px;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 50%;
    border: 2px solid #12283d;
    padding: 30px;
    position: relative;
}

textarea {
    resize: none;
}

@media screen and (max-width: 500px) {

    .contact-form {
        width: 80%;
    }

    form {
        width: 100%;
    }
}

.input-container {
    position: relative;
    margin: 18px auto;
    width: 100%;
}

.input-container input,
.input-container textarea {
    font-size: 16px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: gainsboro;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input:focus~.label,
.input-container input:valid~.label {
    top: -20px;
    font-size: 16px;
    color: #333;
}

.input-container textarea:focus~.label,
.input-container textarea:valid~.label {
    top: -20px;
    font-size: 16px;
    color: #333;
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.9s ease;
}

.input-container input:focus~.underline,
.input-container input:valid~.underline {
    transform: scaleX(1);
}

.input-container textarea:focus~.underline-t,
.input-container textarea:valid~.underline-t {
    transform: scaleX(1);
}

.input-container .underline-t {
    position: absolute;
    bottom: 0;
    top: 93%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.9s ease;
}

.message-response {
    margin: 15px auto;
    text-align: center;
}